In [39]:
 # Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi

# Load .env environment variables
from dotenv import load_dotenv
load_dotenv("OUR_KEYS.env")

%matplotlib inline

In [40]:
 # Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [41]:
# Set the SPY, ARKK and QQQ tickers
ticker = ["","ARKK" , "QQQ"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 day
start_date = pd.Timestamp("2021-11-15", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-11-16", tz="America/New_York").isoformat()

# Get 1 year's worth of historical data for Tesla and Coca-Cola
df_ticker = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Display sample data
df_ticker.head(10)

                             ARKK                                        QQQ  \
                             open      high     low   close   volume    open
time
2021-11-15 00:00:00-05:00  118.85  119.0500  116.64  117.44  3476960  395.91
2021-11-16 00:00:00-05:00  116.80  118.9199  116.12  118.90  3062992  393.87

                                                                 SPY           \
                             high      low   close    volume    open     high
time
2021-11-15 00:00:00-05:00  396.24  392.095  394.63  30051286  468.64  468.810
2021-11-16 00:00:00-05:00  397.93  393.660  397.50  24351631  467.16  470.485


                              low   close    volume
time
2021-11-15 00:00:00-05:00  466.23  467.39  39813913
2021-11-16 00:00:00-05:00  467.07  469.24  41723421

In [38]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of SPY, ARKK and QQQ
df_closing_prices["SPY"] = df_ticker["SPY"]["close"]
df_closing_prices["ARKK"] = df_ticker["ARKK"]["close"]
df_closing_prices["QQQ"] = df_ticker["QQQ"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Compute daily returns
df_daily_returns = df_closing_prices.pct_change().dropna()

# Display sample data
df_daily_returns.head(10)

                 SPY      ARKK       QQQ
2021-11-16  0.003958  0.012432  0.007273